* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

li {
  align-self: center;
  list-style-type: none;
  padding-bottom: 12px;
}

.phone {
  background: url(img/phone.png);
  background-repeat: no-repeat;
  background-size: 12%;
  padding-left: 30px;
}
.mail {
  background: url(img/Mail.png);
  background-repeat: no-repeat;
  background-size: 12%;
  padding-left: 30px;
}
.location {
  background: url(img/location.png);
  background-repeat: no-repeat;
  background-size: 12%;
  padding-left: 30px;
}
.linkedin {
  background: url(img/linkedin.png);
  background-repeat: no-repeat;
  background-size: 12%;
  padding-left: 30px;
}
.github {
  background: url(img/github.png);
  background-repeat: no-repeat;
  background-size: 12%;
  padding-left: 30px;
}
.telegram {
  background: url(img/telegram.png);
  background-repeat: no-repeat;
  background-size: 12%;
  padding-left: 30px;
}

.about_Me_Left {
  padding-bottom: 24px;
}

.about_Me_Right {
  padding-bottom: 24px;
}

.contact_Me,
.skills,
.lanuages {
  margin-top: 24px;
  margin-bottom: 28px;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  zoom: 120%;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%; /* Радиус скругления */
}

.logo {
  box-shadow: 0px 2px 6px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.data_Container {
  padding: 10px;
}

.info_Container {
  padding: 0px 24px;
  font-size: 14px;
}

.left {
  max-width: 235px;
  padding-left: 24px;
  text-decoration: none;
  padding-left: 0px;
  color: #ffffff;
  background-color: #232c39;
}

.right {
  margin-top: 53px;
  max-width: 500px;
}

.experience {
  margin-top: 25px;
}

h1 {
  padding-bottom: 10px;
}

.underline {
  border-radius: 3px;
  width: 100%;
  color: #f3f3f3;
  border: 1px solid #f3f3f3;
}

.footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.git_hub {
  background-color: #fff;
  width: 100px;
}

.data {
  padding-right: 45px;
}

.git_hub_img {
  margin: 0;
  padding: 0;
  height: 40px;
}

.rss_img {
  margin: 0;
  padding: 0;
  padding-right: 30px;
  height: 50px;
  width: 50px;
}
